<div class="row">
  <div class="col-sm-10">
    <%= render 'layouts/messages' %>

    <% if @users %>
      <% @users.each do |user| %>
        <div class="card friends-results-block bg-secondary text-white mb-3">
          <div class="card-body">
            <strong>Name:</strong> <%= user.full_name %><br />
            <strong>Email address:</strong> <%= user.email %><br />
            <div class="friend-actions">
              <%= link_to 'View profile', '#', class: 'btn btn-sm btn-info mr-2' %>
              <% if current_user.friends_with? user.id %>
                <span class="badge badge-info text-wrap" style="width: 10rem">
                You are already friends with <%= user.first_name %>
                </span>
              <% else %>
                <%= link_to 'Follow', friendships_path(user: user), method: :post, class: 'btn btn-sm btn-info' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
